body {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

canvas {
    background-color: #000; /* Черный фон карты, как в оригинале */
    image-rendering: pixelated; /* ВАЖНО: Сохраняет пиксели четкими при масштабировании */
    width: 768px; /* 256 * 3 */
    height: 720px; /* 240 * 3 */
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}