body {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 864px; 
    height: 816px;
    
    background-color: #636363;
    image-rendering: pixelated;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}