body {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 816px; 
    height: 816px; 
    
    background-color: #636363; /* Серый цвет рамки */
    image-rendering: pixelated; /* Обязательно для пиксель-арта */
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}